
#topnav {
  background-color: #333;
  overflow: hidden;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body{
 background-color: grey;
}

.container{

}
/*bg {
   The image used
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

  /* Full height
  height: 50%;

  /* Center and scale the image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

h3{
  font-weight: 900;
  color: white;
}

h1{
   color: #9A4747;
}

/*#education  {
  background-color: grey;
  width: 300px;

  padding: 25px;
  margin: 25px;
}*/
